body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0% 0% 0% 0%;
  /* background-color: rgba(78, 194, 223, 0.9); */
  background: url(https://source.unsplash.com/jlWoIsNTKjA/1600x900) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h4.sodaName {
  margin: 0px 0px 20px 0px;
}
.field {
  margin: 0px 0px 20px 0px;
}

.card {
  width: 400px;
  padding: 10px;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  /* background-color: DodgerBlue; */
}
.form-container {
  /* background-color: #f1f1f1; */
  width: 400px;
  margin: 10px;
  padding: 20px 10px 20px 10px;
  background-color: lightblue;
}
.flex-container > div {
  /* background-color: #f1f1f1; */
  width: 300px;
  margin: 10px;
  padding: 20px 10px 20px 10px;
  background-color: lightblue;
  /* text-align: center; */
  /* line-height: 75px; */
  /* font-size: 30px; */
}
.nav-bar {
  background-color: rgb(3, 93, 122);
  /* font-size: 32px; */
}
.nav-barBrand {
  margin-left: 10%;
  color: white;
  font-size:32px;
}

@media screen and (max-width: 816px) {
  .flex-container > div {
    width: 400px;
  }  
}
@media screen and (max-width: 816px) {
  .nav-barBrand {
    font-size: 28px;
  }  
}
/* .btn-success{
  color:#fff;
  background-color:#28a745;
  border-color:#28a745
}
.btn-success:hover{color:#fff;background-color:#218838;
    border-color:#1e7e34
}
.btn-success.focus,.btn-success:focus{
  color:#fff;
  background-color:#218838;border-color:#1e7e34;
  box-shadow:0 0 0 .2rem rgba(72,180,97,.5)
}
.btn-success.disabled,.btn-success:disabled{
  color:#fff;background-color:#28a745;border-color:#28a745
}
.btn-success:not(:disabled):not(.disabled).active,.btn-success:not(:disabled):not(.disabled):active,.show>
.btn-success.dropdown-toggle{
  color:#fff;background-color:#1e7e34;border-color:#1c7430
}
.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show>.btn-success.dropdown-toggle:focus{
  box-shadow:0 0 0 .2rem rgba(72,180,97,.5)
}
.btn-info{
  color:#fff;background-color:#17a2b8;border-color:#17a2b8
}
.btn-info:hover{
  color:#fff;background-color:#138496;
  border-color:#117a8b
}
.btn-info.focus,.btn-info:focus{
  color:#fff;background-color:#138496;border-color:#117a8b;box-shadow:0 0 0 .2rem rgba(58,176,195,.5)
}
.btn-info.disabled,.btn-info:disabled{
  color:#fff;background-color:#17a2b8;border-color:#17a2b8
}
.btn-info:not(:disabled):not(.disabled).active,.btn-info:not(:disabled):not(.disabled):active,.show>.btn-info.dropdown-toggle{
  color:#fff;background-color:#117a8b;border-color:#10707f
}
.btn-info:not(:disabled):not(.disabled).active:focus,.btn-info:not(:disabled):not(.disabled):active:focus,.show>.btn-info.dropdown-toggle:focus{
  box-shadow:0 0 0 .2rem rgba(58,176,195,.5)
} */